<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>
	<p><a href="/">Go Back</a></p>

	<span>
		<% for (var i = 0; i < array.length; i++) { %>
			<p><%=array[i].name%></p>
			<p><%=array[i].abilities%></p>
			<p><%=array[i].group%></p>
			<img src=<%=array[i].image%>
			<p><a href="/angry-birds/<%=i%>">More</a></p>
		<% } %>
	</span>
  </body>
</html>