<!DOCTYPE html>
<html>
  <head>
    <title><%=entry.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p><a href="/angry-birds">Go To All</a></p>
	<p><a href="/">Go Back To Start</a></p>

    <h1><%=entry.name%></h1>
	<p><%=entry.abilities%></p>
	<p><%=entry.group%></p>
	<img src=<%=entry.image%>
	</body>
</html>
